.nav-manager {
    background-color: #0b0a4b; /* צבע רקע */
    direction: rtl;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    gap: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* צל להבלטת הניווט */
    font-family: Arial, sans-serif;
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 1000;
    margin-bottom: 1px;
  }
  
  .nav-manager a {
    color: #fff; /* צבע טקסט */
    text-decoration: none; /* הסרת קו תחתון */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.9s ease, color 0.3s ease;
  }
  
  /* אפקט מעבר עכבר */
  .nav-manager a:hover {
    background-color: #6a167a; /* צבע רקע בעת מעבר עכבר */
    color: #d4d4d4; /* שינוי צבע טקסט */
  }
  
  .nav-manager a:active {
    background-color: #827d85; /* צבע רקע כאשר לוחצים */
  }
  .title-nav-manager{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    color: burlywood;
    background-color: #6a167a;
    border-radius: 10px;
   padding: 9px;
  }
  .title-manager{
    font-size: 16px;
    font-style: italic;
  }
  .nav1{
    color: burlywood;
  }
  
  