.section-current-therapist{
    background-color: #e5d3e5;
    padding: 75px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #0b0a4b;
    /* margin-top: 50px; */
}
.table-style{
    margin: 150px 30px;

}
.title-table{
    direction: rtl;
}