
.div-title {
  background-color: #6b026b;
  color: burlywood;
  text-align: center;
  padding: 30px 10px;
}
.title {
  font-size: 4.5em;
  margin-bottom: 10px;

  font-style: italic;
  text-align: center;
  margin: 0;
}
.center-button {
  display: flex;
  justify-content: center; /* ממרכז את הכפתור לרוחב */
}
.button-manager {
  background-color: #0b0a4b;
  color: burlywood;
  font-weight: bold;
  border-radius:6px;
  margin:10px 20px;
  width: 200px;
  padding: 10px 40px; /* ריווח פנימי */
  font-size: 16px; /* גודל פונט */
  cursor: pointer; /* הופך את סמן העכבר ליד */
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  /* height: 50%; */
  max-width: 90%;
  text-align: center;
}

.modal-content input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.div-tables{
  padding: 150px;
}
h2 {
  direction: rtl;
}
table {
  width: 100%;
  
  border-collapse: collapse;
  margin-bottom: 20px; /* רווח בין הטבלאות */
}

th,
td {
  border: 2px solid #6b026b; /* גבולות תאים */
  padding: 10px; /* ריווח פנימי */
  text-align: right; /* יישור הטקסט לימין */
}

th {
  background-color: #0b0a4b; /* צבע הרקע של הכותרות */
  color: white; /* צבע הטקסט בכותרות */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* צבע רקע שורות זוגיות */
}

/* tr:hover {
  background-color: #d9cbdb; /* צבע רקע כשמעבירים את העכבר על השורה */
/* } */ 
